@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>功能设置</h2>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn btn-primary" id="btnFetch">抓取</button>
            </div>
            <div id="loading" class="loading col-5">
                <img src="~/Content/img/loading.gif" alt="..." style="width:40px; height:40px;">
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script type="text/javascript">
        $(function () {

            $("#loading").hide();
                $("#btnFetch").on("click", function () {
                    var formData = "";

                    $.ajax({
                        url: '@Url.Action("Fetch")',
                        type: 'post',
                        data: formData,

                        beforeSend: function () {
                            $("#loading").show();
                        }
                    })
                    .done(function (data) {
                        $("#loading").hide();
                    });
                });


        });
    </script>
}

