@model ArticleEntity

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

}



<div class="card-body articleBody ">
    <p class="card-text">@Html.Raw(Model.Content)</p>

    @if (Model.Attachments != null && Model.Attachments.Count() > 0)
    {
        <img class="img-fluid" src="@Model.Attachments.First().Url" alt="Card image cap">
    }

    <p class="card-text text-right">发布时间：@Model.CreatedTime</p>

    <div class=" d-flex justify-content-between ">
        <ul class="nav card-bottom ">

            <li class="nav-item">
                @if (Model.Status == Constant.ArticleStatus.Pass)
                {
                    <a class="nav-link" href="#"><span class="oi icon" data-glyph="check" title="check" aria-hidden="true"></span> </a>
                }
                else if (Model.Status == Constant.ArticleStatus.Faild)
                {
                    <a class="nav-link" href="#"><span class="oi icon" data-glyph="x" title="x" aria-hidden="true"></span> </a>
                }
                else if (Model.Status == Constant.ArticleStatus.Pending)
                {
                    <a class="nav-link" href="#"><span class="oi icon" data-glyph="clock" title="clock" aria-hidden="true"></span> </a>
                }
            </li>

        </ul>

        <ul class="nav card-bottom">
           
            <li class="nav-item">
                <a class="nav-link thumb-up" href="#"><span class="oi icon" data-glyph="thumb-up" title="thumb-up" aria-hidden="true"></span> 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="oi icon" data-glyph="thumb-down" title="thumb-down" aria-hidden="true"></span> 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="oi icon" data-glyph="comment-square" title="comment-square" aria-hidden="true"></span> 1</a>
            </li>

        </ul>
    </div>
</div>


