<footer class="row  justify-content-center">
    <div class="line"></div>
    <p>互联网ICP备案：<a href="http://www.miitbeian.gov.cn/">苏ICP备18007398号</a></p>
    <div class="w-100"></div>
    <p>© xjjxmm.com 囧人囧事版权所有</p>
</footer>
