<footer class="row  justify-content-center">
    <div class="line"></div>

    <div class="ablink">
        <a href="about" target="_blank">关于囧人囧事</a>
        <a href="mian" target="_blank">免责声明</a>
        <a href="contact" target="_blank">在线反馈</a>
        <a href="http://www.xjjxmm.com" target="_blank">© xjjxmm.com 囧人囧事版权所有</a>
    </div>

   
    <div class="w-100"></div>

    <p>互联网ICP备案：<a href="http://www.miitbeian.gov.cn/">苏ICP备18007398号</a></p>

    <p>公安机关备案号：<a href="http://www.beian.gov.cn/">32059002001792</a></p>
    <div class="w-100"></div>

  
</footer>
