@{
    
    Layout = "~/Views/Shared/_LayoutMore.cshtml";
}



<div class="content">
    <h2>关于我们</h2>
    <h3>囧人囧事</h3>
    <p>生活中遇到那些尴尬、倒霉、搞笑、口误、无奈、欲哭无泪的事，都可以称为囧事。</p>
    <p>囧人囧事是一个原创分享囧事、笑话的平台，遵循UGC原则，网友可以自由投稿、投票、评论、审核内容，并与其它网友互动。囧事内容真实，文字简洁、清晰、口语化，适合随时随地观看，缓解生活压力。</p>
    <h3>栏目</h3>
    <ul class="ullist">
        <li>热门：24个小时内，网友喜欢的囧事内容集合。</li>
        <li>最新：刚通过审核的新鲜囧事内容。</li>
        <li>囧事：文字囧事内容集合。</li>
        <li>会员中心：注册用户可以投稿、小纸条传递等。</li>
        <li>后花园：各种美女图。</li>
    </ul>
    <h3>注册</h3>
    <p>囧事大本营免费公开注册帐号，无须邀请码，注册成功后，就可以把你的囧事、搞笑的事情分享给糗友啦。</p>
    <h3>&nbsp;</h3>
</div>