@{

    Layout = "~/Views/Shared/_LayoutMore.cshtml";
}



<div class="content">
    <h2>在线反馈</h2>
    <h4>遇到帐户与产品服务问题，以及报告毁谤性、冒犯性、非法，或侵权内容，与我们取得联系。</h4>
    <p>请将问题发送到我们的邮箱。350810375@qq.com</p>
</div>