body {
    background: #f7f7f7;
}



.navbar {
    margin-bottom: 1em;
}
.navbar, .navbar-brand {
    padding: 0;
}

.navbar-collapse, .navbar-collapse ul {
    align-self: stretch;
}

.navbar .nav-item {
    display: flex;
}

.navbar .nav-item a {
    align-self: center;
}

.navbar-nav .active {
    background: #ffe36f;
}

.navbar-nav .nav-item:hover {
    background: #ffe36f;
}

.navbar-nav .active:hover  {
    background: #fff47f;
}

.navbar-nav .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}


.icon {
    color: #337ab7;
}

    .thumb-up {
        margin-top :-0.1rem;
    }

/*.card li {
    display :flex;
    align-self :baseline;
}*/
.card  {
    margin-bottom :0.5rem;
}
.card li a:hover {
    background: #eee;
}

.card-bottom .nav-link {
    padding: 0 0.5rem 0 0.5rem;
}

.col-9, .col {
    padding-left:15px;
    padding-right:0;
}

.login .row {
   
    justify-content :center ;
}

.btn {
    margin :0 1rem;
}

.invalid-feedback {
    padding-left :0;
}


.articleBody {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
   
}


.card-comment {
    padding: 0.5rem 0.7rem 0rem 0.7rem;
    margin: 1rem;
}


    .card-comment .card-title {
        flex-grow:1;
    }

.card-comment-quote .card-title  {
 margin-bottom:0rem;
}

.card-comment-quote {
    background: #fffdf7;
    margin: 0.5rem 0rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body .card-comment-quote:nth-child(2) {
    background-color: transparent;
    /*border: none;*/
}

.card-comment-top {
    background-color:transparent;
}

/*.card-comment-text:first-child {
    border: 1px solid rgba(0, 0, 0, 0.125);
}*/

.comment .card-body {
    /*padding: 0rem 1.25em 1.25rem 1.25rem;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.comment .card-body:not(:first-child) {
    padding: 0rem 0em 0rem 0rem;
   
}

/*.comment .card-body:first-child {
   padding: 1.25rem 1.25em 0 1.25rem;
    border:none;
    
}*/


.card-comment .nav {
    margin-left:-0.8rem;
    /*margin: 1rem;*/
}

.card-comment-edit {
    padding-top:0;
}

.loading {
    background:#ffffff;
}

.homenav {
    padding: 0 0 1rem 0;
}


.home-cardbody {
    padding-bottom: 0.1rem;
}

#imgTable img {
    max-width:20rem;
}

.article-quote {
    border-left: 0.3rem #007bff solid;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

a.normalA {
   color :#000000;
}

a.normalA:hover {
    color: #000000;
    text-decoration:none;
}

.img-circle {
    width:35px;
    height:35px;
}

.line {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.125);
    margin-bottom:1rem;
}

#editor {
    padding:0;
}

.garden-list {
    
    border: 1px solid #EEF3FA;
}
.list-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: #CEDCF0 dashed 1px;
}

a.list-item:hover {
    text-decoration: none;
    background: #EEF3FA;
   
}

.list-title {
   
}

.list-date {
   
}

.card .breadcrumb {
    background: #EEF3FA;
    border: #CEDCF0 dashed 1px;
   
}

.garden-detail  {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

}

.garden-detail img {
   padding-bottom:1rem;
}

.garden-title {
   
    padding:0.5rem;
    font-size:22px;
    color:crimson;
}

footer {
    font-size:14px;
}
footer p {
    margin-left: 1rem;
    
}

.ablink a {
    border-right: #ACBAD0 solid 1px;
    padding:0 0.5rem;
}

    .ablink a:last-child {
        border-right: none;
       
    }

.img-fluid {
    max-height: 100%;
   height:100%;
   width:100%;
}

.information h2 {
    padding-bottom:1rem;
}

.information .col-9 {
    border-right: 1px solid #f3f1ec;
    padding-right: 2rem;
    padding-left: 2rem;
}

.information .col {
  
    padding-left: 0;
}


.information ul.menu {
    margin-top:3rem;
    list-style:none;
    
}


    .information ul.menu li:before {
        content: "»";
        color: #999;
        padding-right:0.5rem;
       
    }

    .information ul.menu li {
       margin-bottom:15px;
    }